<!DOCTYPE html>
<html>
<head>
    <title>AnimeGenerator</title>
    <style>
        * {
            font-size:30px;
        }
    </style>
</head>
<body>
    <input id="number-input" type="text"/>
    <button id="generate-button">Generate</button>
    <img id="selected-image" src=""/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script>
        $("#generate-button").click(function(event)
        {
            let message = {
                    number: $("#number-input").val()
                }
            

            $.post("http://127.0.0.1:5000/generate",JSON.stringify(message), function(response)
            {
                {% for n in arr %}
                $('#result{{n}}').attr("src", "data:image/png;base64," + response.image{{n}});
                {% endfor %}
                console.log("generated");
            });
        });

    </script>
    <p>
    {% for n in arr %}
    <img id="result{{n}}" src="" alt ="">
    {% endfor %}
    </p>

</body>
</html>